.General, .job, .pay{
    border: 8px solid;
    border-color: #3B719F;
    padding: 10px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content{
    flex: 1;
    float: right;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 20px;
}
