<<<<<<< HEAD

.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  width: 400px;
  margin-left: 140px;
  /* Add any other styling you prefer */
}

.card-image {
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
  background-color: gray;
}

.card-content {
  padding: 10px;
  height: 200px;
}

.card-title {
  font-size: 1.2em;
  margin: 0;
}

.card-subtitle {
  font-size: 1em;
  margin: 5px 0;
}

.card-description {
  font-size: 0.9em;
  margin: 0;
=======
.job-posting{
    margin-top: 10px;
>>>>>>> feature-toggle
}