.page {
    height: 100vh;
    width: 90vw;
}
.column-container {
    display: flex;
    flex-direction: column;
}
.horizontal-container {
    display: flex;
}
.header-title {
    width: 24vw;
    height: 12vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar {
    width: 59vw;
    height: 12vh;
    background-color: red;
}

.post-container {
    height: 88vh;
    width: 42vw;
    background-color: blue;
}

.job-container {
    height: 88vh;
    width: 41vw;
    background-color: green;
}

