.nav {
  height: 100vh;
  width: 120px; /* Increased width to fit text */
  background-color: #1a252f; /* Darker blue background color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  overflow-x: hidden;
}

.sidebar {
  height: 100%;
  background-color: transparent;
  border-right: 1px solid #2b3b48; /* Slightly lighter border for contrast */
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #2b3b48; /* Slightly lighter border for contrast */
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #2b3b48; /* Slightly lighter hover effect */
  cursor: pointer;
}

.menu-item-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.menu-item-text {
  display: block; /* Make text always visible */
}

@media (min-width: 768px) {
  .nav {
    width: 150px; /* Slightly more width for larger screens */
  }

  .menu-item-icon {
    font-size: 1.5rem;
  }
}
